<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="google-site-verification" content="JESWbUOqLzIquRLC4stXsZSV3indM874I6T1AITucks" />
  <title>{{TITLE}}</title>
  <meta name="description" content="{{DESCRIPTION}}" />
  <meta name="google-site-verification" content="JESWbUOqLzIquRLC4stXsZSV3indM874I6T1AITucks" />
  <link rel="stylesheet" href="{{BASE}}/assets/site.css" />
</head>
<body>
  <header>
    {{HEADER}}
  </header>
  <main>
    {{CONTENT}}
  </main>
  <footer>
    {{FOOTER}}
  </footer>
</body>
</html>
